/*  Nav styles  */
/* nav bar */
.sticky {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  position: fixed;
  width: 100%;
  max-width: none;
  z-index: 101;
}

.sticky-header {
  background-color: var(--background-tlc);
  box-shadow: 2px 2px 12px #dfe5ef7e;
  transition: box-shadow, background-color 0.3s;
}

header {
  /* overflow-x: hidden; */
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

#object-3d {
  z-index: -1;
}

/* logo styles */
.logo {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.1em 0;
  color: var(--primary)
}

/* nav link */

.nav-list {
  display: flex;
  font-size: 15px;
  z-index: 100;
}

.navbar {
  position: relative;
}

.nav-list .nav-item a {
  display: flex;
  gap: 0.5rem;
}

#menu-bar-icon,
.nav-item,
.bar {
  padding: 0 0.7em;
}

#menu-bar-icon,
.nav-item a,
.bar a {
  text-decoration: none;
  color: var(--black);
  -webkit-transition: color 0.2s;
  transition: 0.3s;
}

#menu-bar-icon:hover,
.nav-item a:hover,
.bar a:hover {
  color: var(--primary);
  text-shadow: 2px 2px 5px var(--primary-shadow);
}

#menu-bar-icon {
  display: none;
  padding: 10px;
  cursor: pointer;
  z-index: 999;
}

#menu-bar-icon i {
  font-size: 1.4rem;
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
  #menu-bar-icon {
    display: block;
  }
  .nav-list {
    opacity: 0;
    padding: 0;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 1px var(--secondary-shadow);
    background: var(--background);
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
    margin-right: 5px;
    text-align: right;
    white-space: nowrap;
    transition: opacity 0.2s;
  }
  .show {
    opacity: 1;
  }
  .nav-list .nav-item:nth-child(1) {
    padding-top: 12px;
  }
  .nav-list .nav-item {
    padding: 0 15px 12px;
  }

  .nav {
    display: none;
  }

  nav ul {
    justify-content: flex-start;
    align-content: center;
    padding: 0;
  }

  nav li {
    margin: 0;
    padding: 10px 20px;
  }
}
