/* Hero Content */

.hero-wrapper {
  height: 86vh;
  display: flex;
  /* width: 80%; */
  margin: 0 auto;
  align-items: center;
  gap: 2rem;
}

.hero-image {
    margin-left: auto;
    max-width: 400px;
}

.hero-bottom {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.hero {
  /* position: absolute; */
  /* top: 30%; */
  /* transform: translate(0, -30%); */
}

.hero-title {
  font-size: 3.3rem;
  margin-bottom: 1.2rem;
  /* color: var(--primary); */
  /* text-shadow: 2px 2px 10px var(--primary-shadow); */
  font-family: "Garamound", "Georgia", sans-serif;
  /* text-transform: lowercase; */
  font-weight: 300;
}

.hero-tagline {
  margin-bottom: 25px;
  font-size: 1.05rem;
  line-height: 1.5em;
  text-shadow: 2px 2px 10px var(--secondary-shadow);
  font-weight: 500;
  /* color: var(--primary); */
  /* font-family: "Garamound", "Georgia", sans-serif; */
}

.cta {
  font-weight: 500;
  padding: 0.6em 1.2em;
  background: var(--background);
  border-color: var(--primary);
  color: var(--primary);
  border-radius: 0.2rem;
}

.cta:hover {
  /* border-color: #ecf0f3; */

  color: var(--background);
  background: var(--primary);
  /* box-shadow: 18px 18px 25px #d1d9e6, -18px -18px 25px #ffffff; */
  /* box-shadow: 2px 2px 8px var(--primary-shadow); */
}

/* Social Media Handles */
.hero .handles {
  margin: 0;
}

.hero .handles a {
  margin-right: 0.5em;
  color: var(--tertiary) !important;
}

.hero .handles a:hover {
  color: var(--secondary) !important;
}


/* Scroll icon */

.animate {
  display: block;
  height: 70px;
}

.scroll {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
}

.scroll small {
  font-size: 12px;
}

.scroll-icon {
  position: relative;
  margin: 0 auto 10px;
  border: 3px solid var(--tertiary);
  border-radius: 25px;
  width: 25px;
  height: 35px;
}

.scroll-circle {
  background: var(--tertiary);
  box-shadow: 2px 2px 10px var(--primary-shadow);
  border-radius: 25px;
  position: absolute;
  width: 4px;
  height: 8px;
  top: 5px;
  left: 50%;
  transform: translateX(-2.5px);
  animation-name: scroll;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 100%;
    top: 5px;
    height: 8px;
  }

  20% {
    height: 16px;
    top: 5px;
    opacity: 0;
  }
  21% {
    height: 8px;
  }

  30% {
    opacity: 100%;
  }
}

/* Responsive design */

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .hero-tagline {
    font-size: 1rem;
  }

  .hero-title {
    font-size: 1.9em;
  }

  .hero-image {
    max-width: 300px;
  }

  .hero-wrapper {
    height: 75vh;
  }
}

@media (max-width: 991.98px) {
  .hero-wrapper {
    width: 90%;
  }
}
