/**
    Author: Tan Jing Yi
    File description: Global styles for the website
 */
html {
    overflow-x: hidden;
}

body {
    background: var(--background);
}

/* three.js */

canvas {
    position: absolute;
    top: 40px;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.5em 2em;
}

.scrolled.slide-down {
    animation: slide-down 0.6s ease-in-out both;
    opacity: 1 !important;
}

/* Contact Me Section */

.contact-section {
    /* background: linear-gradient(9deg, var(--black) 85%, transparent 85%); */
    background: var(--black);
    color: #fff;
    padding: 0 0 1.8em;
}

/* .contact-section .wrapper {
    margin-top: 1.4em;
} */



.js-scroll {
    /* opacity: 1; */
    transition: opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
    transition: opacity 500ms;
}

/* animation */

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 0.6s ease-in-out both;
}

.scrolled.slide-left {
    animation: slide-in-left 0.6s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right 0.6s ease-in-out both;
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* Responsive design */
@media (max-width: 991.98px) {
    .hero-wrapper {
        width: 90%;
    }

}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .wrapper {
        padding: 18px;
    }
    
    .handles {
        margin-top: 1.4rem;
    }
}

@media (max-width: 269px) {
    body {
        width: 100%;
        padding: 0px;
    }

    .wrapper {
        padding: 20px
    }
}

