/* Projects Section */

.project-section {
  margin: 50px auto;
  max-width: 1024px;
  padding: 1.5rem 0.7rem;
}

.project {
  display: flex;
  justify-content: space-between;
  margin: 5.9rem 0 1em;
}

.project-small {
  line-height: 1.4em;
  margin: 26px 40px;
}

.project-detail {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.project-title {
  font-weight: 600;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  display: block;
  margin: 10px 0;
}

.project-pic {
  width: 60%;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  box-shadow: 18px 18px 25px #d1d9e6;
}

.linked-image {
  width: 60%;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}

.linked-image .project-pic {
  width: 100%;
}

.reverse .linked-image {
  width: 60%;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse .project-pic {
  box-shadow: -18px -18px 30px #d1d9e6;
}

/* Responsive design */
@media (max-width: 991.98px) {
  /* make card into 2 columns */
  .project {
    flex-direction: column;
    margin: 2em 3em 4em 3em;
  }

  .linked-image {
    width: 100%;
  }

  .reverse .linked-image {
    width: 100%;
  }

  .project-pic {
    width: 100%;
  }

  .project-pic:hover {
    transform: none;
  }

  .reverse .project-pic:hover {
    transform: none;
  }

  .project-detail {
    width: 100%;
    margin-bottom: 30px;
  }

  .project-title {
    margin: 2em;
  }
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
  .project {
    margin: 2em 0 4em;
  }
}